.DS_Store
fp-info-cache
Prj_MCU_datalogger_w_EEPROM_ls-backups/*
Prj_MCU_datalogger_w_EEPROM_lsGerber/*
~Prj_MCU_datalogger_w_EEPROM_ls.kicad_sch.lck
~Prj_MCU_datalogger_w_EEPROM_ls.kicad_pcb.lck
2_layer_MCU_Datalaogger_Gerbers/*
4_layer_MCU_Datalaogger_Gerbers/*
MCU_Datalaogger_Gerbers.zip
4_layer_MCU_Datalaogger_Gerbers.zip
